
$primary-color:rgb(192,36,252);
$secondary-color:rgb(255, 255, 255);

@font-face {
    font-family: "title_font";
    src: url('../fonts/Linotype\ -\ HelveticaNeueLTPro-Roman.otf');
}
body{
    min-height: 500vh;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



header{
    background-image: url('../images/Header_BG.png');
    margin-bottom: 1px;

}
ul{
    list-style:none;
}

.main_nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 1%;

    .li_main,.a_main,.cta{
        font-size: 12px;
        text-decoration: none;
    }
    .logo{
        cursor: pointer;
        margin-right: auto;
    }
    .ul_main{
        list-style: none;
    }
    .ul_main .li_main{
        display:inline-block ;
        padding: 30px 20px;
    }
    .ul_main .li_main .a_main{
        transition: all 0.3s ease 0s;
        text-transform: uppercase;
        color: rgb(0, 0, 0);
        font-family: "title_font";
     }
     .ul_main .li_main .a_main:focus{
        color: $primary-color
     }
     .up_btn{
        padding:9px 25px ;
        background-color: $primary-color;
        border: none;
        border-radius: 2px;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        text-transform: uppercase;
        color: #fff;
        font-size: 12px;
    }
    .up_btn:hover{
        background-color:rgba(192,36,252,0.8); ;
    }
    .up_btn:active {
        transform: translateY(2px);
      }
}

.nav_sticky{
   background-image: url('../images/Header_BG.png');
    text-align: center;
    font-family: "title_font";
    padding-top: 10px;
    padding-bottom: 10px;

    .li_sticky{
        display: inline-block;
    }
    .li_sticky .a_sticky{
        color: rgb(0, 0, 0);
        padding: 0 20px; 
        font-size: 16px;   
        bottom: 0%;
        text-decoration: none;
    }
    .a_sticky:focus{
        color: $primary-color;
        border-bottom:$primary-color 3px solid; 
    }
}
//These classes are responsible for header stick
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    margin-bottom: 0%;    
}
.unsticky{
    transform: translate3d(0, -100%, 0);
}

.section_one{
    padding-top: 107px;
    background-image: url('../images/Header_BG.png');
    background-size: cover;
    background-position: 0 25%;

    .section_one_main_title{
        font-family: "title_font";
        text-align: center;
        color: $primary-color;
        padding-top: 60px;
        font-size: 45px;
    }
    .section_one_sec_p_title{
        padding-top: 40px;
        text-align: center;
        font-family: "title_font";
        font-weight: bold;
    }
    .departments_container{
        margin-top: 60px;
        width:66%;
        margin-left: auto;
        margin-right: auto;
        display: flex;

        .department{
            flex-grow: 1;
            display: flex;
            flex-direction:column;
            justify-content: center;
            align-items: center;  
            text-align: center;
            padding-bottom: 50px;

            .svg_icon{
                height: 30px;
                width: 30px;
            }
            .department_title{
                font-family: "title_font";
                font-weight: bold;
            }
        }
    }
}


.article{
    text-align: center;
    padding-left: 22vh;
    padding-right: 22vh;

    .artical_color_title{
        font-family: "title_font";
        text-align: center;
        color: $primary-color;
        padding-bottom: 60px;
        padding-top: 60px;
    }
    .table_bg{
        background-image: url('../images/tableBG.png');
       background-size: 50%;
       background-repeat: no-repeat;
        background-position: 50% 10%;
        font-family: "title_font";
    }
    .tab_title{
        font-family: "title_font";
        text-align: center;
        margin-top: 60px;
    }
    .container_ul{
        margin-top: 60px;
        width:66%;
        margin-left: auto;
        margin-right: auto;
        display: flex;

        .panel{
            flex-grow: 1;
            flex-direction:column;
            justify-content: center; 
            text-align: center;
            padding-top: 50px;
            margin-bottom: 60px;
            display: inline-block;
        }
        .right_panel{
            border-radius: 0px 10px 10px 0px;
            background-color: rgba(111, 111, 124,.2);
        }
        .center_panel{
            border-radius: 10px 0px 0px 10px;
            background-color: rgba(255, 255, 255, 0.7);
            box-shadow: 0px 0px 5px 0px #888888;
        }
        .center_panel h2{
            color: $primary-color;
        }
        .li_panel{
            border-bottom: 2px solid #e1f1ff;
            font-size: 12px;
            line-height: 2;
            padding: 20px ;
            margin: 0;
            align-items: center;
        }
        .double_row{
            line-height: 1;
        }
        .li_bold{
            font-weight: 900;
        }
        .v_icon{
            height: 15px;
            width: 15px;
            justify-content: center;
        }
    }
}

.section_two{
    background-image: url('../images/Enterprise_BG.png');
    padding-left:50vh ;
    padding-bottom: 60px;
    .title_section_two{
        font-family: "title_font";
        color: $secondary-color;
        padding-top: 60px;
        text-align: left;
        display: inline-block;
        font-size: 1.5em;
        font-weight: bold;
    }
    .section_two_span{
        color: $secondary-color;
        line-height: 2px;
        display: inline;    
    }
    .section_two_btn{
        margin-left: 45vh;   
        text-transform: uppercase;
        font-size: 10px;
        font-family: "title_font";
        padding: 15px 40px ;
        display: inline;
        background-color: #fff;
        cursor: pointer;
        border: none;
        border-radius: 3px;
        box-shadow:0px 0px 5px 0px  rgba(5, 3, 3, 0.7),;
        color:$primary-color;
    }
    .section_two_btn:active {
        transform: translateY(2px);
      }
}

.section_three{
    padding-left:50vh ;
    padding-bottom: 60px;
    background-color: rgba(236, 230, 230, 0.7);

    .title_section_three{
        font-family: "title_font";
        color: $primary-color;
        padding-top: 60px;
        text-align: left;
        display: inline-block;
        font-weight: bold;   
    }
    .subtitle_section_three {
        font-family: "title_font";
        padding-top: 20px;
    }
    .p_section_three {
        font-family: "title_font";
        padding-top: 20px;
    }
    .section_three_btn {
        cursor: pointer;
        margin-top: 30px;
        padding-bottom: 70px;
        text-transform: uppercase;
        font-size: 12px;
        font-family: "title_font";
        padding: 10px 30px ;
        background-color: $primary-color;
        border: none;
        border-radius: 3px;
        color: $secondary-color;
    }
    .section_three_btn:active{
        transform: translateY(2px);
    }
}

.ul_footer_container{
    margin-top: 60px;
    width:66%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    font-family: "title_font";
}
.ul_footer{
    flex-grow: 1;
    line-height: 2;
}

.footer_title_li{
    color: $primary-color;
}
.fontawesome_footer_li{
    align-items: flex-end;
}
.fa-circle {
    cursor: pointer;
    display: inline-block;
    border-radius: 60px;
    color: $secondary-color;
    border: 9px black solid;
    background-color: black;
  }
.footer_img_container {
  width: 70px;
}
.winner_img{
    max-height: 100%;
    max-width: 100%;
}
.ul_footer_img{
    flex-grow: 1;
    line-height: 2;
}
.footer_subtitle_li{
    line-height: 1;
    padding-top: 20px;
}
.footer_subtitle_li h4{
    font-weight: bold;
} 
.footer_subtitle_li p{
    font-size: 10px;
}
.one_line_height{
    padding-top: 20px;
    line-height:1;
}

@media only screen and (max-width: 600px) {
 
  }